<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout::headdder">
    <meta charset="UTF-8">
    <title>Stastical</title>
</head>
<body>
<form action="/stastical" method="post" class="">
    <input name="begin" type="datetime-local" th:value="${begin}">
    <input name="end" type="datetime-local" th:value="${end}">
    <input type="submit" value="submit">


</form>
<th:block th:if="${stastical!=null}">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <tr>
            <th>Month</th>
            <th>NumberReceipt</th>
        </tr>
        <th:block th:each="s:${stastical}">
            <tr>
                <td th:text="${s.getMonth()}"></td>
                <td th:text="${s.getNumberReceipt()}"></td>
            </tr>

        </th:block>
    </table>
    </div>
</th:block>
</body>
</html>