<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/product/layout::header">
    <meta charset="UTF-8">
    <title>Category</title>
</head>
<body>
<th:block th:replace="/product/layout::nav"></th:block>
<th:block th:replace="/product/layout::landpage1"></th:block>

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="services-wrap rounded-right w-100">
                    <a href="/create-product">Create new Category</a>
                    <h1>Category</h1>
                    <table border="1">
                        <tr>
                            <th>Name</th>
                        </tr>
                        <th:block th:each="categorys : ${category}">
                            <tr>
                                <td th:text="${categorys.name}"></td>

                                <!--<td><a th:href="@{/edit-province/__${province.id}__ }">Edit</a></td>
                                <td><a th:href="@{/delete-province/__${province.id}__ }">Delete</a></td>-->
                            </tr>
                            <tr>
                                <td th:text="${categorys.image}">

                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="/product/layout::footer"></th:block>
<th:block th:replace="/product/layout::jsfile"></th:block>
</body>
</html>